{{ include('admin/_delete_tag_confirmation.html.twig') }}
<form action="{{ url('admin_tags_delete', {id: tag.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-lg btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'action.delete_tag'|trans }}
    </button>
</form>