{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_tags_index' %}

{% block main %}
	<h1>{{ 'title.tags_list'|trans }}</h1>
{% endblock %}

{% block sidebar %}
	{{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}